.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px 1fr));
  grid-template-rows: 1.5fr 1fr 1fr 1.5fr 0.05fr;
}

.header {
  grid-column-end: span 2;
  background-color: black;
}

.navigace {
  padding:0.5rem;
}

.cover {
  width: 100%;
  padding:0px;
  margin:0px;
}

.blok {
  width: 500px;
  height: 500px;
  background-color: grey;
}

.blok-2 {
  grid-column-end: span 2;
  background-color: black;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
}

.header__p {
  font-size: 20px;
  color: silver;
}

.navigace__ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.navigace__li {
font-size: 15px;
color: white;
}

.cover__foto {
  width: 100%;
  padding-top:12px;
}

.cover__h1 {
  font-size: 40px;
  color: white;
}

.blok__h1 {
  font-size: 20px;
  color: black;
  padding: 10px;
  text-align: center;
}

.blok__p {
  font-size: 15px;
  color: black;
  padding: 8px;
  text-align: block;
}

.blok_ul {
  list-style: square;
}

.blok__li {
  font-size:16px;
  color: black;
}

.blok__foto {
  width: 100%;
  height: 100%;
}

.blok-2__fotogalerie {
background-color: black;
padding: 2rem;
}

.blok-2__h1 {
  font-size: 40px;
  color: white;
  padding: 10px;
  text-align: left;
}

.blok-2__foto {
  width: 15rem;
  height: 15rem;
}

.footer__icon {
  padding: 5px;
  height: 35px;
  width: 35px;
}

.blok--bigSize {
  width: 700px;
  height: 700px;
}

.blok__h1--red {
  color: red;
}

.blok--beige {
  background-color:beige;
}

.blok__p--red {
  color: red;
}

.blok__p--mediumSize {
  font-size: 20px;
}

.blok_h1--beige {
  color:beige;
}

.blok-2__h1--beige {
  color:beige;
}

.blok-2__h1--bigsize {
  font-size: 50px;
}

.blok--black {
  background-color:black;
}

.blok__li--beige {
  color:beige;
}
